$white-01: rgba(255, 255, 255, 0.1);
$white-02: rgba(255, 255, 255, 0.2);
$white-03: rgba(255, 255, 255, 0.3);
$white-05: rgba(255, 255, 255, 0.5);
$white-18: rgba(255, 255, 255, 0.18);
$purple-07: rgba(96, 4, 132, 0.7);
$purple-1: rgba(96, 4, 132, 1);
$purple-focus: rgba(96, 4, 132, 0.719);
$red-07: rgba(220, 53, 69, 0.7);
$red-09: rgba(220, 53, 69, 0.9);
$green-07: rgba(40, 167, 69, 0.7);
$green-09: rgba(40, 167, 69, 0.9);
$gray-3C: #3C3C3C;
$gray-90: #9098A9;
$shadow-color: rgba(31, 38, 135, 0.37);
$text-color: #333;