@keyframes move { 
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #e5e5f7; 
    opacity: 0.8; 
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #38005c55, #38005c ); /* Nueva imagen de fondo degradado */
    overflow: hidden; 
}

.background span {
    display: none;

}

